body{
	background-image: url(../Image/background.jpg);
	margin: 0 auto;
}

*{	
	margin:0 auto;
	padding:0 auto;
}
				
#wrap{	
	width: 1000px;
	height: 1900px;
	margin: 0 auto;
}
				 
#headLeft{	
	width: 300px;
	height: 300px;
	float: left;
	background:url(../Image/violinleft.jpg);
}
					 
#headRight{	
	width: 700px;
	height: 300px;
	float: left;
	background:url(../Image/violinright2.jpg);
}
					  
#body{	clear:both;}
			
#bodyLeft{	
	width: 750px;
	height: 1570px;
	float: left;
	background-color: #feea67;
	font-family: "Khmer Nettra",sans-serif;
	color:#414eff;
}
					 
#bodyRight{	
	width: 250px;
	height: 1570px;
	float: left;
	background:url(../Image/music.jpg);
}
			
#footer{	
	width: 1000px;
	height: 30px;
	clear: both;
	background-color: #57514c;
}
				   
				   
#pic{	
	width: 12px;
	height:12px;
}
					
#fb{	
	width: 35px;
	height:35px;
	margin-left:35px;
	margin-right:25px;
	margin-top:1350px;
}
					
#yt{	
	width: 35px;
	height:35px;
	margin-left:4px;
	margin-right:22px;
	margin-top:1350px;
}
					
#gg{	
	width: 35px;
	height:35px;
	margin-left:5px;
	margin-right:25px;
	margin-top:1350px;
}

#fb:hover, #yt:hover, #gg:hover{
	opacity: 0.7;
}
					
#link{	
	margin-top:0;
	margin-left:15px;
}
					
#number{
	text-decoration:none;
	background-color: #e3cdbb;
	border-radius:5px;
}
			
#number:hover{
	background-color: #e3c194;
	color:#e37014;
}
			
#number:visited{
	background-color: #e3c194;
	color:#e37014;
}
			
*{
	margin:0px;
	padding:0px;
}
			
ul#navmenu{
	margin-top:30px;
	list-style-type:none;
}
			
ul#navmenu li{
	width:135px;
	height:30px;
	position:relative;
	text-align:center;
}
			
ul#navmenu a{
	text-decoration:none;
	width:135px;
	height: 25px;
	display: block;
	background-color: #e3cdbb;
	border-radius:5px;
}
			
ul#navmenu a:hover{
	background-color: #e3c194;
	color:#e37014;
}
			
ul#navmenu a:visited{
	background-color: #e3c194;
	color:#e37014;
}

#play{
	border-radius: 25px;
	width: 50px;
	height: 50px;
	padding-left: 150px;
}

#play:hover{
	opacity: 0.7;
	cursor: pointer;
}

#songTitle{
	padding-left: 50px;
}

#popupPlayer{
	display: none;
	text-align: center;
}

#title{
	font-size: 28pt;
	font-weight: bold;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}

.modal{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}

.modal-content{
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	/*width: 90%;*/
	max-width: 1200px;
}

.close{
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}

.close:hover, .close:focus{
	color: #999;
	text-decoration: none;
	cursor: pointer;
}

.mySlides{
	display: none;
	text-align: center;
	background-color: black;
}

.cursor{
	cursor: pointer;
}

.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

.prev{
	left: 0;
	border-radius: 3px 0 0 3px;
}

.next{
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
	background-color: #bbb;
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}