@font-face {
    font-family: myFirstFont;
    src: url(../Font/KhmerNagari_0.ttf);
}

body {
    font-family: myFirstFont;
	margin: 0 auto;
	padding: 0 auto;
	background-color: #FEEA67;
}

#menu{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

#container{
	margin-top:80px;
	margin-bottom: 50px;
}

#title{
	text-align: center;
}

#subtitle{
	text-align: center;
}

#homeMenu{
	width: 95px;
}

hr{
	height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

#bodyLeft{
	float: left;
	width: 25%;
	text-align: center;
}

#afterLeft{
	float: left;
	width: 25%;
	text-align: center;
}

#bodyRight{
	float: left;
	width: 25%;
	text-align: center;
}

#afterRight{
	float: left;
	width: 25%;
	text-align: center;
}

#myLeftBody{
	float: left;
	width: 33%;
	text-align: center;
}

#myCenterBody{
	float: left;
	width: 34%;
	text-align: center;
}

#myRightBody{
	float: left;
	width: 33%;
	text-align: center;
}

#leftImageLayout{
	float: left;
	width: 75%;
}

#rightImageLayout{
	float: left;
	width: 25%;
}

.footer{
	text-align: center;
	color: white;
	background-color: #57514C;
	bottom: 0;
	overflow: hidden;
	position: fixed;
	width: 100%;
}

img{
	margin-left: auto;
    margin-right: auto;
}

#myImg{
	width: 150px;
	height: 150px;
	border: 2px solid white;
	margin-top: 10px;
}

#songTitle{
	padding-top: 15px;
	padding-left: 0px;
	text-align: center;
}

#firstRowSong{
	width: 70px;
}

#thirdRowSong{
	width: 25px;
	padding-top: 25px;
}